<script>
import { onMount } from 'svelte';

export let chartId;
export let series = [[1, 2, 3, 4, 5]];
export let labels = ["A", "B", "C", "D", "E"];

onMount(() => {
    new Chartist.Line(`#${chartId}`, {labels, series})
});

</script>

<div class="ct-chart ct-minor-seventh" id={chartId}></div>
<!-- <canvas id={chartId}> -->
