<script>
import Chart from "./LineChart.svelte";
import Table from "../../lib/crud"; 

const paychecks = new Table("paychecks");
const allPaychecks = paychecks.getAll();

console.log(allPaychecks);

let data = [[2, 2, 2, 2, 2]];
let labels = ["30.05", "14.06", "28.06", "12.07", "26.07"];

</script>

<Chart series={data} labels={labels} chartId="paychecks-chart"/>