<script>
import Card from '../Card.svelte';
import LineChart from "../charts/PaycheckChart.svelte";
</script>

<div class="wrapper">
    <Card title="Test">
        <LineChart chartId="ashdiuh" />
    </Card>
</div>

<style>
@media (min-width: 1200px) {
    .wrapper {
        width: 80%;
        margin: 0 auto;
    }
}
</style>