<script>

import { onMount } from 'svelte';
import Table from '../../lib/crud';
import router from "../../lib/router";

const expenses = new Table('expenses');

let amount, note;

const submit = () => {

    if(note.length == 0 || !note) {
        M.toast({html: "Please enter a note for the expense", classes:"red white-text"});    
        return
    }
    if(amount < 0) {
        M.toast({html: `Who would pay you for ${note}?`, classes:"red white-text"});    
        return
    }
    if(!amount) {
        M.toast({html: "Please enter a valid amount", classes:"red white-text"});    
        return
    }

    expenses.add({amount, note});
    M.toast({html: "Expense added successfully", classes:"green darken-1 white-text"});
    router.setPageByName("home");
}
</script>

<div class="container row">
    <h4>Add Expense</h4>
    <div class="col s12 input-field">
        <input type="number" name="amount" bind:value={amount}>
        <label for="amount">Amount spent</label>
    </div>
    <div class="col s12 input-field">
        <input type="text" name="note" bind:value={note}>
        <label for="note">Note</label>
    </div>
    <div class="col s12 input-field">
        <a href="#!" class="btn green darken-1" on:click={submit}><i class="material-icons left">add</i>Add</a>
    </div>
</div>