<script>
import Table from '../../lib/crud'; 
import { onMount } from 'svelte'; 
import Router from '../../lib/router'; 

// Create DB tables
const tips = new Table('tips');
const jobs = new Table('jobs');

// Get all jobs
const allJobs = jobs.getAll();

// Form Data
let tip;
let job_id;

// Submit form event
const saveTip = () => {
    if(!tip) {
        M.toast({html: "Please enter a tip amount", classes: "red lighten-1 white-text"});
        return;
    }
    if(!job_id) {
        M.toast({html: "Please select a job from the dropdown", classes: "red lighten-1 white-text"});
        return;
    }
    tips.add({amount: tip, job_id}); 
    M.toast({"html": "$" + tip + " tip added successfully", classes: "green white-text"})
    Router.setPageByName("home");
}

onMount(() => {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
});

</script>

<div class="row wrapper">
    <h4>Tips</h4>
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input type="number" name="tip" bind:value={tip}>
                <label for="tip">Tip</label>
            </div>
            <div class="input-field col s12">
                <select bind:value={job_id}>
                    <option value="" disabled selected>Select job</option>
                    {#each allJobs as job}
                        <option value="{job.id}">{job.name}</option>
                    {/each}
                </select>
                <label>Job</label>
            </div>
            <div class="input-field col s12">
                <a href="#!" class="waves-effect waves-light btn green darken-2" on:click={saveTip}><i class="material-icons left">save</i>Save</a>
            </div>
        </div>
    </div>
</div>

<style>
.wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}
</style>