<script>

import { onMount } from 'svelte';
import Table from '../../lib/crud';
import router from "../../lib/router";

const jobs = new Table('jobs');
const paychecks = new Table('paychecks');

onMount(() => {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
});

let amount, hours, job_id;

const submit = () => {
    if(!job_id) {
        M.toast({html: "Please select a job from the dropdown menu", classes: "red white-text"});
        return;
    }
    if(amount < 0) {
        M.toast({html: "Are YOU paying them???", classes: "red white-text"});
        return;
    }
    if(!amount) {
        M.toast({html: "Please enter an amount > 0", classes: "red white-text"});
        return;
    }
    if(hours < 0) {
        M.toast({html: "You cant work negative hours, silly", classes: "red white-text"});
        return;
    }
    if(!hours) {
        M.toast({html: "Please enter a value > 0 for hours worked", classes: "red white-text"});
        return;
    }
    
    paychecks.add({amount, hours, job_id});
    M.toast({html: "Paycheck added successfully", classes:"green darken-1 white-text"});
    router.setPageByName("home");
}

let check = paychecks.getAll()[0];

console.log("Paycheck for $" + check.amount, "added on", paychecks.getDateOfCreation(check.id));

</script>

<div class="container row">
    <h4>Add Paycheck</h4>
    <div class="col s12 input-field">
        <input type="number" name="amount" bind:value={amount}>
        <label for="amount">Amount received</label>
    </div>
    <div class="col s12 input-field">
        <input type="number" name="hours" bind:value={hours}>
        <label for="hours">Hours worked</label>
    </div>
    <div class="col s12 input-field">
        <select name="job" bind:value={job_id}>
            <option value="" disabled selected>Select job</option>
            {#each jobs.getAll() as job}
            <option value="{job.id}">{job.name}</option>
            {/each}
        </select>
        <label for="job">Job</label>
    </div>
    <div class="col s12 input-field">
        <a href="#!" class="btn green darken-1" on:click={submit}><i class="material-icons left">add</i>Add</a>
    </div>
</div>