<script>

import router from '../../../lib/router';
import Table from '../../../lib/crud';
import { onMount } from 'svelte';

const jobs = new Table("jobs");

export let editing = false;
export let id = null;

let name;
let wage;
let tips;

if(editing) {
    let job = jobs.getById(id);
    name = job.name;
    wage = job.wage;
    tips = job.tips;
}


const submit = () => {
    if(!name) {
        M.toast({html: "The name field must not be empty", classes: "red white-text"});
        return;
    }

    if(!wage) {
        M.toast({html: "The wage field must not be empty", classes: "red white-text"});
        return;
    }

    if(!editing) {
        jobs.add({name, wage, tips});
        M.toast({html: "Job added successfully", classes: "green darken-1 white-text"});
    } else {
        jobs.update(id, {name, wage, tips});
        M.toast({html: "Job saved successfully", classes: "green darken-1 white-text"});
    }
    router.setPageByName("settings");
}

const deleteJob = () => {
    jobs.delete(id);
    router.setPageByName("settings");
    M.toast({html: "Job " + name + " deleted successfully"});
}

let modals;
let modalInstances;
onMount(() => {
    let modals = document.querySelectorAll('.modal');
    modalInstances = M.Modal.init(modals, {})
});

</script>


<a href="#!" class="back"><i class="material-icons" on:click={() => {router.setPageByName("settings")}}>arrow_back</i></a>

<div class="row">
    <div class="input-field col s12">
        <input type="text" name="name" bind:value={name}>
        <label for="name" class:active={editing}>Name</label>
    </div>
    <div class="input-field col s12">
        <input type="number" name="wage" bind:value={wage}>
        <label for="wage" class:active={editing}>Hourly wage</label>
    </div>
    <div class="input-field col s12">
        <p class="checkbox-p">
            <label>
                <input type="checkbox" name="tips" bind:checked={tips}>
                <span>Tips</span>
            </label>
        </p>
    </div>
    <div class="input-field col s12">
        <a href="#!" class="btn green darken-2" on:click={submit}>
            {#if editing}
                <i class="material-icons left">save</i>
                Save
            {:else}
                <i class="material-icons left">add</i>
                Add
            {/if}
        </a>
        {#if editing}
            <a href="#confirmDelete" class="btn red darken-1 modal-trigger">
                <i class="material-icons left">delete</i>
                Delete
            </a>
        {/if}
    </div>
</div>

<div class="modal" id="confirmDelete">
    <div class="modal-content">
        <h4>Are you sure you want to delete job "{name}"?</h4>
        <p>It cannot be recovered once it has been deleted.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat">Cancel</a>
        <a href="#!" class="modal-close btn red darken-2" on:click={deleteJob}>
            <i class="material-icons left">delete</i>
            Confirm
        </a>

    </div>
</div>

<style>

.back {
    display: inline-block;
    padding: 20px;
}

.checkbox-p {
    margin-left: 10px;
}

</style>