<script>
    import Table from '../../../lib/crud';
    import router from '../../../lib/router';
    import { onMount } from 'svelte';

    const jobs = new Table("jobs")
    const wipeConfirmCaptcha = Math.random().toString(36).substr(2, 9);
    let confirmation;
    let dataConfirmError = "";
    const wipeData = () => {
        if(confirmation === wipeConfirmCaptcha) {
            localStorage.clear();
            M.toast({html: "Data wiped successfully"});
            router.setPageByName("settings");
        } else {
            dataConfirmError = "Confirmation is not correct. Please enter: " + wipeConfirmCaptcha;
        }
    }

    let modals;
    let modalInstances;
    onMount(() => {
        modals = document.querySelectorAll('.modal');
        modalInstances = M.Modal.init(modals, {});
    });
</script>
<div class="container">
    <h3>Settings</h3>
</div>

<section>
    <ul class="collection">
        <li class="collection-header">Jobs</li>
        {#each jobs.getAll() as job} 
            <li class="collection-item">
                <div>
                    {job.name}
                    <a href="#!" class="secondary-content" on:click={() => {router.setPageByName("settings.addJob", {id: job.id, editing: true})}}>
                        <i class="material-icons">edit</i>
                    </a>
                </div>
            </li>
        {/each}

        <li class="collection-item">
            <div>
                <a href="#!" class="btn green darken-2 waves-effect waves-light" on:click={() => {router.setPageByName("settings.addJob")}}>
                    <i class="material-icons left">add</i>Job
                </a>
            </div>
        </li>
    </ul>
</section>

<section class="container">
<h5>Wipe all data</h5>
<p>Delete all data from the application. <br><span class="warning"><span class="bold">Warning:</span> It'll be gone forever and cannot be restored</span></p>
<a href="#wipeConfirm" class="btn red accent-3 modal-trigger">
    <i class="material-icons left">close</i>
    Clear all data
</a>
<!-- red accent-3 -->
</section>

<div class="modal" id="wipeConfirm">
    <div class="modal-content">
        <h5>Please confirm</h5>
        <p>To delete all application data, please type in the field below: {wipeConfirmCaptcha}</p>
        <div class="input-field">
            <input type="text" name="captcha" bind:value={confirmation}>
            <label for="captcha">Confirm</label>
            <span class="helper-text red-text">{dataConfirmError}</span>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat">Close</a>
        <a href="#!" class="btn red accent-3" on:click={wipeData}>Confirm</a>
    </div>
</div>


<style>
.collection-header {
    display: block;
    width: 90%;
    margin: 10px auto;
    font-size: 1.5rem;
    font-weight: 400;
}

.warning {
    color: rgb(255, 38, 38);
}

.bold {
    font-weight: bold;
}
</style>