<script>
    export let title = "Title";
    export let content = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet quam blanditiis soluta ratione cupiditate tempore facere perspiciatis quidem recusandae.";
    export let links = [{href: "#", text: "First link"}, {href:"#", text:"Second link"}];
    export let color = "white";
    export let textColor = "grey-text text-darken-3";
</script>
<div class="row">
    <div class="col s12">
        <div class="card {color}">
            <div class="card-content {textColor}">
                <span class="card-title">{title}</span>
                <p><slot /></p>
            </div>
            <div class="card-action">
                {#each links as link}
                    <a href={link.href} class="blue-text text-darken-2">{link.text}</a>
                {/each}
            </div>
        </div>
    </div>
</div>