<script>

    import { onMount } from 'svelte';
    import router from '../lib/router';

    let elems;
    let instances;

    onMount(() => {
        elems = document.querySelectorAll('.sidenav');
        instances = M.Sidenav.init(elems, {});
    });
    
    const setPage = page => {
        router.setPageByName(page);
        instances[0].close();
    }

    const links = {
        home: () => setPage('home'),
        settings: () => setPage("settings"),
    }
</script>

<nav class="blue lighten-1">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo" on:click={links.home}>Peshka<span id="wat">WAT</span></a>
        <a href="javascript:void(0)" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#!" on:click={links.settings}>Settings</a></li>
            <li><a href="https://www.interexchange.org/">InterExchange</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/images/sidenav.jpg" alt="ice cream">
            </div>
            <a href="#name" id="sidenav-logo"><h4 class="white-text">Peshka<span id="wat">WAT</span></h4></a>
        </div>
    </li>
    <li><a href="#!" on:click={links.settings}><i class="material-icons">settings</i> Settings</a></li>
    <!-- <li><a href="https://www.interexchange.org/"><i class="material-icons">website</i>InterExchange</a></li> -->
</ul>

<style>

#wat {
    color: #ffbb3d;
    font-weight: bold;
}
#sidenav-logo {
    display: block;
    padding-top: 70px;
    padding-bottom: 10px;
    font-family: "Josefin Sans";
}
</style>