<script>

import { onMount } from 'svelte';

// Pages
import pages from './lib/pages';
import router, { currentPage } from './lib/router';
// Components
import Navbar from './components/Navbar.svelte';

let instances;

window.onpopstate = evt => {
  if(evt.state !== null) {
    const oldPage = currentPage;
    const oldPageParts = oldPage.split(".");

    if(oldPageParts.length === 1) {
      router.setPageByName("home");
      return;
    }

    const newPage = oldPageParts.slice(0, oldPageParts.length-1);
    router.setPageByName(newPage.join("."));
  }
}


onMount(() => {
  const floatingBtn = document.querySelectorAll('.fixed-action-btn');
  instances = M.FloatingActionButton.init(floatingBtn, {});

	new pages.home({
		target: document.getElementsByClassName("wrapper")[0]
	});
});

const clickEvent = btn => (() => {
	router.setPageByName(btn);
	instances[0].close();
})
</script>

<Navbar />
<div class="wrapper" />

<div class="fixed-action-btn">
  <a href="javascript:void(0)" class="btn-floating btn-large blue lighten-2" on:click={() => {instances[0].open()}}>
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a href="javascript:void(0)" on:click={clickEvent("tip")} class="btn-floating green lighten-1">+Tip</a></li>
    <li><a href="javascript:void(0)" on:click={clickEvent("wage")} class="btn-floating green lighten-2"><i class="material-icons">add</i></a></li>
    <li><a href="javascript:void(0)" on:click={clickEvent("spend")} class="btn-floating red"><i class="material-icons">remove</i></a></li>
    <li><a href="javascript:void(0)" on:click={clickEvent("edit")} class="btn-floating blue"><i class="material-icons">create</i></a></li>
  </ul>
</div>
      